.addtask-container{
    margin: 1rem 0;
    width: 100%;
    display: flex;
}

.add-input{
    border-radius: 0.2rem;
    border: 2px solid #FC2C64ff;
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    flex: 2;
    color: #FC2C64ff;
    font-size: 1rem;
}
.add-button{
    margin-left: 10px;
    flex: 1;
}