.button{
    border: none;
    width: 100%;
    background-color: #FC2C64ff;
    color: #FFF9FBff;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.6rem 2rem;
    font-size: 1rem;
}