@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Press+Start+2P&display=swap");

:root {
  --night: #141414ff;
  --folly: #fc2c64ff;
  --snow: #fff9fbff;
  --night-2: #141414ff;
  --folly-2: #ff2c60ff;
}

body {
  margin: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--folly);
  color: #f0f2ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
